@tailwind base;
@tailwind components;
@tailwind utilities;
html.body{
  overflow-x: hidden;
}
.homepage_bg{
  background: url("../src/assets/Images/bghome.svg");
}
.text-gradient {
  background: linear-gradient(117.95deg, #833AB4 -2.4%, #FD1D1D 52.25%, #FCB045 106.89%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.text1-gradient {
  background: linear-gradient(118.41deg, #E65C00 -6.05%, #F9D423 106.11%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.text2-gradient {
  background: linear-gradient(118.19deg, #1FA2FF -3.62%, #12D8FA 50.44%, #A6FFCB 104.51%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


